@import "../../global.css";
@import "../../reset.css";
@import "card-footer.css";
@import "card-header.css";
@import "card-image.css";
@import "card-text.css";

.card {
  margin: 2rem;
  color: white;
  padding-bottom: 5rem;
}
svg {
  fill: white;
}
