.card-footer__bookmark__icon,
.card-footer__upload__icon,
.card-footer__thumbup__icon,
.card-footer__message__icon,
.card-footer__menu {
  width: 1rem;
  height: 1rem;
}

.card-footer {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
}

.card-footer__bookmark,
.card-footer__upload,
.card-footer__thumbup,
.card-footer__message {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.card-profile__foto {
  width: 10vw;
  height: auto;
  border-radius: 50%;
}

.card-profile {
  display: flex;
  gap: 1rem;
}

.card-image {
  margin-top: 1rem;
  width: 100%;
  height: auto;
  object-fit: none;
  border-radius: 5%;
}

.card-images {
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.card-footer__menu {
  width: 100%;
  margin: 0 auto;
}
.card-footer__bookmark__icon {
  width: 2rem;
  height: 2rem;
}
.card-footer__bookmark {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 0;
  top: 30%;
}
