.card-footer__bookmark__icon,
.card-footer__upload__icon,
.card-footer__thumbup__icon,
.card-footer__message__icon,
.card-profile__menu {
  width: 1rem;
  height: 1rem;
}

.card-footer {
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  position: relative;
}

.card-footer__bookmark,
.card-footer__upload,
.card-footer__thumbup,
.card-footer__message {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}

.card-footer__bookmark {
  width: 1.2rem;
  height: 1.2rem;
  position: absolute;
  right: 0;
  top: 30%;
}

.card-footer__bookmark__icon {
  width: 2rem;
  height: 2rem;
  filter: invert(1);
}
