/* .profile-foto-small {
  width: 1vw;
}
 */
.card-profile__foto {
  width: 10vw;
  height: 10vw;
  border-radius: 50%;
}

.card-profile {
  display: flex;
  position: relative;
  gap: 1rem;
}

.card-profile__name {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-profile__time {
  color: gray;
}

.card-profile__menu {
  position: absolute;
  right: 0;
  top: 0;
}

.card-profile__menu li {
  height: 1.3vh;
  color: grey;
  font-size: larger;
}
