body {
  font-family: "HK Grotesk", sans-serif;
  background-color: black;
}

footer {
  position: fixed;
  z-index: 2;
}

.app {
  max-width: 1000px;
  background-color: honeydew;
  height: 100%;
}

.main {
  max-width: 70vw;
  background-color: aquamarine;
  margin: auto;
}

.main-content-container {
  max-width: 1000px;
  margin: auto;
}
