.navigation {
  display: flex;
  flex-wrap: wrap;
  color: white;
  width: 100%;
  gap: 1rem;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.navigation a {
  color: white;
  display: inline-block;
  padding: 2rem;
  text-decoration: none;
}

a.navigation--active:after {
  content: "";
  display: block;
  max-width: 100%;
  border-bottom: 0.12em solid blue;
  font-weight: 600;
  padding-bottom: 2rem;
}
