.tag-list {
  display: flex;
  flex-direction: row;
  overflow-y: hidden;
  width: 100%;
  gap: 1.2rem;
  padding-top: 2rem;
  justify-content: space-evenly;
}

.tag-list__link {
  border: 2px solid var(--input-grey);
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
  display: inline-block;
}

.tag-list__link:active,
.tag-list__link:hover,
.tag-list__link:focus {
  background-color: var(--color-primary);
}

.tag-list__link--active {
  background-color: var(--color-primary);
  border: none;
  border-radius: 2rem;
  padding: 0.5rem 1rem;
  color: white;
  font-size: 0.8rem;
  text-decoration: none;
}
