h3,
p {
  color: white;
  font-family: "HK Grotesk", sans-serif;
}

.notification__messages {
  font-size: 1.3rem;
  font-weight: 500;
  color: var(--color-secondary);
}

.notification__container {
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--light-grey);
}

.notification__header {
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem 2rem 1rem;
}

.notification__icon {
  width: 3.5rem;
  height: 3.5rem;
}

.notification__date {
  font-weight: 100;
  text-transform: uppercase;
  padding-bottom: 2rem;
  color: var(--light-grey);
}

.notification__body {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
}

.notification__text {
  font-weight: 100;
  font-size: 0.9rem;
}

.notification__time {
  color: var(--light-grey);
}
