.profile-card__main {
  width: 100%;
}
.profile__background {
  height: 11rem;
  width: 100%;
  background-repeat: no-repeat;
}
.profile-card__picture__outside,
.profile-card__picture__inside {
  box-sizing: border-box;
  border-radius: 50%;
}
.profile-card__picture__inside {
  position: absolute;
  top: 1.5%;
  left: 1.5%;
  width: 97%;
  height: 97%;
  border: 5px solid black;
}
.profile-card__picture__outside {
  width: 30vw;
  height: 30vw;
  position: relative;
  background-image: linear-gradient(
    90deg,
    rgba(246, 46, 142, 1) 35%,
    rgba(172, 26, 240, 1) 100%
  );
}
.profile-card__profile {
  overflow-x: auto;
  width: 100vw;
  height: 100%;
  position: relative;
  margin-top: -20vw;
}

.profile-card__profile--alex {
  overflow-x: auto;
  width: 100vw;
  height: 100%;
}
.profile-card__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  color: white;
}
.profile-card__bookmark-and-message-icon {
  display: flex;
  flex-flow: column wrap;
  gap: 1.1rem;
  right: 2rem;
  top: 0.5rem;
  position: absolute;
  background-color: transparent;
  border-color: transparent;
}

.greeting__mail-button {
  background-color: transparent;
  border-color: transparent;
}

.profile-card__icon-back {
  height: 2rem;
  width: 2rem;
  border: rgb(215, 207, 207) solid 1px;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 1rem;
  color: white;
  background-color: black;
  padding: 0.19em;
}

.profile-card__envelope {
  height: 2.1rem;
  width: 2.1rem;
  border: rgb(215, 207, 207) solid 1px;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 1rem;
  color: white;
  background-color: black;
  padding: 0;
}

.profile-card__header {
  display: flex;
  gap: 1rem;
  align-items: center;
}
.location {
  color: var(--light-grey);
}
.profile-card__follower {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 1.3em;
  text-align: left;
}
.profile-card__followed {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.profile-card__follower-lowlight {
  color: var(--light-grey);
}
.profile-card__followed-lowlight {
  color: var(--light-grey);
}
