.profile-card__main {
  background: url(https://source.unsplash.com/random/700x300);
  background-size: 100% 35%;
  background-repeat: no-repeat;

  height: 100vh;
  position: relative;
  color: white;
  
}
.profile-card__picture__outside, .profile-card__picture__inside{
  box-sizing:border-box;  
  border-radius:50%;
}
.profile-card__picture__inside{
  position:absolute;
  top:1.5%;
  left:1.5%;
  width: 97%;
  height: 97%;
  border: 5px solid black;
  
}
.profile-card__picture__outside{
  width: 200px;
  height: 200px;
  position:relative;
  background-image: linear-gradient(90deg, rgba(246,46,142,1) 35%, rgba(172,26,240,1) 100%); 
}

.profile-card__profile {
  text-align: center;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 3rem;

}

.profile-card__content {
 height: 21rem;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;
}

.profile-card__back{
  height: 2rem;
  width: 2rem;
 border: rgb(215, 207, 207) solid 1px;
  border-radius: 50%;
  align-self: flex-start;
  margin-left: 1rem;
  color: white;
  background-color: black;

  
}
.profile-card__header{
  display: flex;
  gap: 1rem;
  align-items: center;
}

.material-symbols-outlined {
  position: relative;
  left: -auto;
  bottom: -1.2em;
}

.location {
  color: var(--light-grey);
}

.profile-card__follower {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding: 1.3em;
  text-align: left;
}

.profile-card__followed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em;
}

.profile-card__follower-lowlight {
  color: var(--light-grey);
}
.profile-card__followed-lowlight {
  color: var(--light-grey);
}


