.story-image {
  border-radius: 20px;
  margin-top: 20px;
}

.story__story-reel {
  display: flex;
  gap: 20px;
  overflow-y: auto;
}

.story__story-reel__item {
  position: relative;
}

.story__story-reel__picture {
  box-sizing: border-box;
  border-radius: 50%;
  position: relative;
  top: 1.5%;
  left: 1.5%;
  width: 97%;
  height: 97%;
  border: 5px solid black;
}

.story__story-reel__profile {
  box-sizing: border-box;
  border-radius: 50%;
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 40px;
  left: 60px;

  background-image: linear-gradient(
    90deg,
    rgba(246, 46, 142, 1) 35%,
    rgba(172, 26, 240, 1) 100%
  );
}
